@import url('./iconfont/iconfont.css');
html,
body {
  width: 100% !important;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  color: $textColor;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto
}

.transparent-background {
  background-color: #f0f0f0;
  background-image: linear-gradient(to top right, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(to top right, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
  overflow: hidden;
  user-select: none;
}