@font-face {
  font-family: "iconfont"; /* Project id 3995638 */
  src: url('iconfont.woff2?t=1680597803404') format('woff2'),
       url('iconfont.woff?t=1680597803404') format('woff'),
       url('iconfont.ttf?t=1680597803404') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuoxiajiao:before {
  content: "\e607";
}

.icon-radio-on:before {
  content: "\ea6a";
}

.icon-zuo:before {
  content: "\e61a";
}

.icon-shipin:before {
  content: "\e645";
}

.icon-yijianfankui:before {
  content: "\e60e";
}

.icon-you:before {
  content: "\e633";
}

.icon-ditudaohang-:before {
  content: "\e687";
}

.icon-kefu:before {
  content: "\e608";
}

.icon-icon_lupai:before {
  content: "\e63d";
}

.icon-peizhi-kuaijiejian:before {
  content: "\e616";
}

.icon-juzuo:before {
  content: "\e602";
}

.icon-juzhong:before {
  content: "\e603";
}

.icon-hengpai:before {
  content: "\e604";
}

.icon-qingchu:before {
  content: "\e62b";
}

.icon-yousuojin:before {
  content: "\e644";
}

.icon-zuosuojin:before {
  content: "\e647";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-zitishanchuxian:before {
  content: "\ec84";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec86";
}

.icon-ziti:before {
  content: "\e6db";
}

.icon-geshishua:before {
  content: "\e605";
}

.icon-chuizhijianju-:before {
  content: "\e640";
}

.icon-shuipingjianju-:before {
  content: "\e641";
}

.icon-zuoyoufanzhuan_huaban1:before {
  content: "\e65f";
}

.icon-chuizhifanzhuan_huaban1:before {
  content: "\e660";
}

.icon-geshishua1:before {
  content: "\e6bf";
}

.icon-wenben:before {
  content: "\e60b";
}

.icon-menu-application:before {
  content: "\e64d";
}

.icon-caozuojiemiantubiao---_yuanjiao:before {
  content: "\e66d";
}

.icon-24gl-circle:before {
  content: "\ea97";
}

.icon-24gl-rectangle:before {
  content: "\ea98";
}

.icon-yuanjiao-rect:before {
  content: "\e64e";
}

.icon-zhijiao-triangle:before {
  content: "\e652";
}

.icon-yanse:before {
  content: "\e822";
}

.icon-zhijiaojuxing:before {
  content: "\eddd";
}

.icon-shangyiyiceng:before {
  content: "\e64a";
}

.icon-xiayiyiceng:before {
  content: "\e64b";
}

.icon-zhidi:before {
  content: "\ec79";
}

.icon-zhiding:before {
  content: "\ec7a";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-yanjing:before {
  content: "\e628";
}

.icon-biyan:before {
  content: "\e629";
}

.icon-jurassic_VerTop-fenbu:before {
  content: "\e6fb";
}

.icon-jurassic_horizalign-center:before {
  content: "\e706";
}

.icon-jurassic_horizalign-right:before {
  content: "\e707";
}

.icon-jurassic_horizalign-left:before {
  content: "\e708";
}

.icon-jurassic_verticalalign-bottom:before {
  content: "\e710";
}

.icon-jurassic_verticalalign-top:before {
  content: "\e711";
}

.icon-jurassic_verticalalign-center:before {
  content: "\e712";
}

.icon-layer:before {
  content: "\e613";
}

.icon-shanchu1:before {
  content: "\e8b6";
}

.icon-quxiaozuhe-copy:before {
  content: "\e8a8";
}

.icon-zuhe1:before {
  content: "\e632";
}

.icon-chexiao:before {
  content: "\e600";
}

.icon-zhongzuo:before {
  content: "\e601";
}

.icon-bianji:before {
  content: "\e6b0";
}

.icon-mobankuangjia:before {
  content: "\e8a6";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-suoding:before {
  content: "\e6e6";
}

